<style>
        #box {
            width: 400px;
            height: 600px;
            background-color: #ADACAC;
            position: absolute;
            top: 70px;
            left: 500px;
            padding: 20px 10px 10px 10px;
            border: 5px;
            border-color: #434242;
            border-style:solid;
            border-radius:5px;
        }
        #text {
            width: 92%;
            height: 15%;
            position: absolute;
            background-color: #E0DEDE;
            border: 3px;
            border-color: #2A2A2A;
            border-style:groove;
            text-align:end;
            font-size:45px;
            font-weight:700;
        }
        #buttons{
            background-color:#2C2C2C;
            width:60px;
            height:50px;
            position:absolute;
            top:150px;
            left:25px;
            color:white;
            font-size:25px;
            border-radius:15px;
        }
    </style>
